{% extends 'base.html' %}

{% block content %}
  <div class="container">
  <h2 style="margin-top: 3%; margin-bottom: 3%;"> Автор  </h2>
  <table>
      <tr>
          <td style="vertical-align:top ; "> 
          <img src="{{ author.image.url }}" style=" width: 250px; float: right;" >
          </td>
          <td> 
          <p>Имя: {{author.name}}</p>
          <p>Фамилия: {{author.last_name}} </p>
          <p>Год рождения: {{author.date_of}} </p>
          <p>Страна: {{author.country}} </p>
          <p>Биография: {{author.annotation}} </p>
          </td>
      </tr>
  </table>         
  </div>
{% endblock %}


               
    